In [1]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [4]:
# load in yield data
yield_df = pd.read_csv('crop_yield_data/yield.csv')
yield_df

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400
...,...,...,...,...,...,...,...,...,...,...,...,...
56712,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2012,2012,hg/ha,24420
56713,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2013,2013,hg/ha,22888
56714,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2014,2014,hg/ha,21357
56715,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2015,2015,hg/ha,19826
56716,QC,Crops,181,Zimbabwe,5419,Yield,15,Wheat,2016,2016,hg/ha,18294

In [10]:
# load in fertilizer data included data for nitrogren and phosphate
phosphate_df = pd.read_csv('crop_yield_data/phosphate.csv')
phosphate_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3103,Nutrient phosphate P2O5 (total),2002,2002,tonnes,0.0,Qm,Official data from questionnaires and/or natio...
1,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3103,Nutrient phosphate P2O5 (total),2003,2003,tonnes,0.0,Qm,Official data from questionnaires and/or natio...
2,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3103,Nutrient phosphate P2O5 (total),2011,2011,tonnes,1563.0,Qm,Official data from questionnaires and/or natio...
3,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3103,Nutrient phosphate P2O5 (total),2012,2012,tonnes,460.0,Qm,Official data from questionnaires and/or natio...
4,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3103,Nutrient phosphate P2O5 (total),2013,2013,tonnes,1539.0,Qm,Official data from questionnaires and/or natio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5239,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3103,Nutrient phosphate P2O5 (total),2016,2016,tonnes,2100.0,*,Unofficial figure
5240,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3103,Nutrient phosphate P2O5 (total),2017,2017,tonnes,9500.0,*,Unofficial figure
5241,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3103,Nutrient phosphate P2O5 (total),2018,2018,tonnes,8100.0,*,Unofficial figure
5242,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3103,Nutrient phosphate P2O5 (total),2019,2019,tonnes,8100.0,Fm,Manual Estimation
5243,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3103,Nutrient phosphate P2O5 (total),2020,2020,tonnes,8100.0,Fm,Manual Estimation

In [11]:
#drop unecessary columns and rename value column to avoid confusion when tables are merged
phosphate_df = phosphate_df.drop(['Domain Code', 'Domain', 'Area Code (FAO)', 'Element Code', 'Flag', \
                                      'Element', 'Item Code', 'Year Code', 'Unit','Flag Description'], axis=1)
phosphate_df = phosphate_df.rename(columns={'Value':'Tons of Nutrient'})
phosphate_df

             Area                             Item  Year  Tons of Nutrient
0     Afghanistan  Nutrient phosphate P2O5 (total)  2002               0.0
1     Afghanistan  Nutrient phosphate P2O5 (total)  2003               0.0
2     Afghanistan  Nutrient phosphate P2O5 (total)  2011            1563.0
3     Afghanistan  Nutrient phosphate P2O5 (total)  2012             460.0
4     Afghanistan  Nutrient phosphate P2O5 (total)  2013            1539.0
...           ...                              ...   ...               ...
5239     Zimbabwe  Nutrient phosphate P2O5 (total)  2016            2100.0
5240     Zimbabwe  Nutrient phosphate P2O5 (total)  2017            9500.0
5241     Zimbabwe  Nutrient phosphate P2O5 (total)  2018            8100.0
5242     Zimbabwe  Nutrient phosphate P2O5 (total)  2019            8100.0
5243     Zimbabwe  Nutrient phosphate P2O5 (total)  2020            8100.0

[5244 rows x 4 columns]

In [6]:
phosphate_df.isnull().value_counts()

Area   Item   Year   Value
False  False  False  False    5244
dtype: int64

In [2]:
# load in fertilizer data included data for nitrogren and phosphate
nitrogen_df = pd.read_csv('crop_yield_data/nitrogen.csv')
nitrogen_df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3102,Nutrient nitrogen N (total),1974,1974,tonnes,19117.0,Qm,Official data from questionnaires and/or natio...
1,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3102,Nutrient nitrogen N (total),1975,1975,tonnes,14774.0,Qm,Official data from questionnaires and/or natio...
2,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3102,Nutrient nitrogen N (total),1976,1976,tonnes,26203.0,Qm,Official data from questionnaires and/or natio...
3,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3102,Nutrient nitrogen N (total),1977,1977,tonnes,37689.0,Qm,Official data from questionnaires and/or natio...
4,RFN,Fertilizers by Nutrient,2,Afghanistan,5510,Production,3102,Nutrient nitrogen N (total),1978,1978,tonnes,48300.0,Qm,Official data from questionnaires and/or natio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5606,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3102,Nutrient nitrogen N (total),2016,2016,tonnes,11700.0,*,Unofficial figure
5607,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3102,Nutrient nitrogen N (total),2017,2017,tonnes,12300.0,*,Unofficial figure
5608,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3102,Nutrient nitrogen N (total),2018,2018,tonnes,13200.0,*,Unofficial figure
5609,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3102,Nutrient nitrogen N (total),2019,2019,tonnes,13200.0,Fm,Manual Estimation
5610,RFN,Fertilizers by Nutrient,181,Zimbabwe,5510,Production,3102,Nutrient nitrogen N (total),2020,2020,tonnes,13200.0,Fm,Manual Estimation

In [3]:
#drop unecessary columns and rename value column to avoid confusion when tables are merged
nitrogen_df = nitrogen_df.drop(['Domain Code', 'Domain', 'Area Code (FAO)', 'Element Code', 'Flag', \
                                      'Element', 'Item Code', 'Year Code', 'Unit','Flag Description'], axis=1)
nitrogen_df = nitrogen_df.rename(columns={'Value':'Tons of Nutrient'})
nitrogen_df

             Area                         Item  Year  Tons of Nutrient
0     Afghanistan  Nutrient nitrogen N (total)  1974           19117.0
1     Afghanistan  Nutrient nitrogen N (total)  1975           14774.0
2     Afghanistan  Nutrient nitrogen N (total)  1976           26203.0
3     Afghanistan  Nutrient nitrogen N (total)  1977           37689.0
4     Afghanistan  Nutrient nitrogen N (total)  1978           48300.0
...           ...                          ...   ...               ...
5606     Zimbabwe  Nutrient nitrogen N (total)  2016           11700.0
5607     Zimbabwe  Nutrient nitrogen N (total)  2017           12300.0
5608     Zimbabwe  Nutrient nitrogen N (total)  2018           13200.0
5609     Zimbabwe  Nutrient nitrogen N (total)  2019           13200.0
5610     Zimbabwe  Nutrient nitrogen N (total)  2020           13200.0

[5611 rows x 4 columns]

In [7]:
#load in temp data
temp_df = pd.read_csv('crop_yield_data/temp.csv')
temp_df

       year        country  avg_temp
0      1849  Côte D'Ivoire     25.58
1      1850  Côte D'Ivoire     25.52
2      1851  Côte D'Ivoire     25.67
3      1852  Côte D'Ivoire       NaN
4      1853  Côte D'Ivoire       NaN
...     ...            ...       ...
71306  2009         Mexico     21.76
71307  2010         Mexico     20.90
71308  2011         Mexico     21.55
71309  2012         Mexico     21.52
71310  2013         Mexico     22.19

[71311 rows x 3 columns]

In [8]:
#drop null values
temp_df.dropna()

       year        country  avg_temp
0      1849  Côte D'Ivoire     25.58
1      1850  Côte D'Ivoire     25.52
2      1851  Côte D'Ivoire     25.67
7      1856  Côte D'Ivoire     26.28
8      1857  Côte D'Ivoire     25.17
...     ...            ...       ...
71306  2009         Mexico     21.76
71307  2010         Mexico     20.90
71308  2011         Mexico     21.55
71309  2012         Mexico     21.52
71310  2013         Mexico     22.19

[68764 rows x 3 columns]

In [9]:
# check to see if the countries in the DF dont include 
#many of the countries in other dfs or if they are just not in alphabetical order
temp_df['country'].unique()

array(["Côte D'Ivoire", 'United Arab Emirates', 'Nigeria', 'Ghana',
       'Turkey', 'Australia', 'India', 'United States', 'Egypt',
       'Algeria', 'Kazakhstan', 'Netherlands', 'China', 'Madagascar',
       'Eritrea', 'Greece', 'Iraq', 'Azerbaijan', 'Mali', 'Indonesia',
       'Thailand', 'Central African Republic', 'Spain', 'Venezuela',
       'Colombia', 'Lebanon', 'United Kingdom', 'Serbia', 'Brazil',
       'Libya', 'Germany', 'Switzerland', 'Guinea Bissau', 'Slovakia',
       'Congo', 'Belgium', 'Romania', 'Hungary', 'Burundi', 'Morocco',
       'Russia', 'Moldova', 'Sri Lanka', 'Guinea', 'Denmark', 'Argentina',
       'Senegal', 'Syria', 'Tanzania', 'Bangladesh', 'Qatar', 'Cameroon',
       'Ireland', 'South Africa', 'Tajikistan', 'Mexico', 'Pakistan',
       'Sierra Leone', 'Botswana', 'Guyana', 'Guatemala', 'Ecuador',
       'Vietnam', 'Zimbabwe', 'Finland', 'Japan', 'Sudan', 'Afghanistan',
       'Uganda', 'Taiwan', 'Nepal', 'Ukraine', 'Rwanda', 'Canada',
       'Jamaica', 'Congo (Democratic Republic Of The)', 'Malaysia',
       'Bolivia', 'Gabon', 'Malawi', 'Peru', 'Portugal', 'Slovenia',
       'Chile', 'Angola', 'Zambia', 'Equatorial Guinea', 'Nicaragua',
       'Bahrain', 'Philippines', 'Mozambique', 'Lesotho', 'Iran',
       'Saudi Arabia', 'Italy', 'Belarus', 'Somalia', 'Liberia',
       'Uruguay', 'Kenya', 'Bahamas', 'Niger', 'Mauritania', 'Norway',
       'Burkina Faso', 'Suriname', 'France', 'Montenegro', 'Haiti',
       'Mauritius', 'Papua New Guinea', 'Czech Republic', 'Latvia',
       'El Salvador', 'Dominican Republic', 'Bosnia And Herzegovina',
       'South Korea', 'Hong Kong', 'Singapore', 'Macedonia', 'Bulgaria',
       'Sweden', 'Estonia', 'Uzbekistan', 'Georgia', 'Honduras',
       'Albania', 'Tunisia', 'Mongolia', 'Austria', 'Laos', 'Lithuania',
       'Poland', 'New Zealand', 'Namibia', 'Armenia', 'Croatia'],
      dtype=object)

In [26]:
temp_df =temp_df.rename(columns={'country': 'Area'})
temp_df

       year           Area  avg_temp
0      1849  Côte D'Ivoire     25.58
1      1850  Côte D'Ivoire     25.52
2      1851  Côte D'Ivoire     25.67
3      1852  Côte D'Ivoire       NaN
4      1853  Côte D'Ivoire       NaN
...     ...            ...       ...
71306  2009         Mexico     21.76
71307  2010         Mexico     20.90
71308  2011         Mexico     21.55
71309  2012         Mexico     21.52
71310  2013         Mexico     22.19

[71311 rows x 3 columns]

In [10]:
# load in pesticide data
pesticide_df = pd.read_csv('crop_yield_data/pesticides.csv')
pesticide_df

,Domain,Area,Element,Item,Year,Unit,Value
0,Pesticides Use,Albania,Use,Pesticides (total),1990,tonnes of active ingredients,121.00
1,Pesticides Use,Albania,Use,Pesticides (total),1991,tonnes of active ingredients,121.00
2,Pesticides Use,Albania,Use,Pesticides (total),1992,tonnes of active ingredients,121.00
3,Pesticides Use,Albania,Use,Pesticides (total),1993,tonnes of active ingredients,121.00
4,Pesticides Use,Albania,Use,Pesticides (total),1994,tonnes of active ingredients,201.00
...,...,...,...,...,...,...,...
4344,Pesticides Use,Zimbabwe,Use,Pesticides (total),2012,tonnes of active ingredients,3375.53
4345,Pesticides Use,Zimbabwe,Use,Pesticides (total),2013,tonnes of active ingredients,2550.07
4346,Pesticides Use,Zimbabwe,Use,Pesticides (total),2014,tonnes of active ingredients,2185.07
4347,Pesticides Use,Zimbabwe,Use,Pesticides (total),2015,tonnes of active ingredients,2185.07
4348,Pesticides Use,Zimbabwe,Use,Pesticides (total),2016,tonnes of active ingredients,2185.07

In [11]:
# drop unecessary columns and rename value column so that column is not confusing when tables are merged
pesticide_df = pesticide_df.drop(['Domain', 'Element', 'Item', 'Unit'], axis=1)
pesticide_df = pesticide_df.rename(columns={'Value': 'Pesticides Amount(tons)'})
pesticide_df

          Area  Year  Pesticides Amount(tons)
0      Albania  1990                   121.00
1      Albania  1991                   121.00
2      Albania  1992                   121.00
3      Albania  1993                   121.00
4      Albania  1994                   201.00
...        ...   ...                      ...
4344  Zimbabwe  2012                  3375.53
4345  Zimbabwe  2013                  2550.07
4346  Zimbabwe  2014                  2185.07
4347  Zimbabwe  2015                  2185.07
4348  Zimbabwe  2016                  2185.07

[4349 rows x 3 columns]

In [12]:
# checking for null values
pesticide_df.isnull().value_counts()

Area   Year   Pesticides Amount(tons)
False  False  False                      4349
dtype: int64

In [13]:
# load in the employee data, I chose mean weekly hours worked per employee 
# but there were many other variables to choose from
employee_df = pd.read_csv('crop_yield_data/employee_hours.csv')
employee_df

,Domain Code,Domain,Area Code (FAO),Area,Indicator Code,Indicator,Sex Code,Sex,Year Code,Year,Source Code,Source,Unit,Value,Flag,Flag Description,Note
0,OEA,Employment Indicators: Agriculture,2,Afghanistan,21151,Mean weekly hours actually worked per employee...,12,Total,2014,2014,3021,Household income and expenditure survey,Number,37.84,X,International reliable sources,Repository: ILO-STATISTICS - Micro data proces...
1,OEA,Employment Indicators: Agriculture,2,Afghanistan,21151,Mean weekly hours actually worked per employee...,12,Total,2017,2017,3021,Household income and expenditure survey,Number,48.08,X,International reliable sources,Repository: ILO-STATISTICS - Micro data proces...
2,OEA,Employment Indicators: Agriculture,2,Afghanistan,21151,Mean weekly hours actually worked per employee...,12,Total,2020,2020,3023,Labour force survey,Number,56.30,X,International reliable sources,Repository: ILO-STATISTICS - Micro data proces...
3,OEA,Employment Indicators: Agriculture,3,Albania,21151,Mean weekly hours actually worked per employee...,12,Total,2007,2007,3023,Labour force survey,Number,49.78,X,International reliable sources,Break in series Break in series: Methodology r...
4,OEA,Employment Indicators: Agriculture,3,Albania,21151,Mean weekly hours actually worked per employee...,12,Total,2008,2008,3023,Labour force survey,Number,49.01,X,International reliable sources,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2154,OEA,Employment Indicators: Agriculture,251,Zambia,21151,Mean weekly hours actually worked per employee...,12,Total,2017,2017,3023,Labour force survey,Number,40.65,X,International reliable sources,Break in series Break in series: Methodology r...
2155,OEA,Employment Indicators: Agriculture,251,Zambia,21151,Mean weekly hours actually worked per employee...,12,Total,2018,2018,3023,Labour force survey,Number,42.72,X,International reliable sources,Break in series Break in series: Methodology r...
2156,OEA,Employment Indicators: Agriculture,251,Zambia,21151,Mean weekly hours actually worked per employee...,12,Total,2019,2019,3023,Labour force survey,Number,43.59,X,International reliable sources,Repository: ILO-STATISTICS - Micro data proces...
2157,OEA,Employment Indicators: Agriculture,181,Zimbabwe,21151,Mean weekly hours actually worked per employee...,12,Total,2014,2014,3023,Labour force survey,Number,42.23,X,International reliable sources,Repository: ILO-STATISTICS - Micro data proces...
2158,OEA,Employment Indicators: Agriculture,181,Zimbabwe,21151,Mean weekly hours actually worked per employee...,12,Total,2019,2019,3023,Labour force survey,Number,42.10,X,International reliable sources,Break in series Break in series: Methodology r...

In [14]:
#Drop unnecessary columns
employee_df = employee_df.drop(['Domain Code', 'Domain', 'Flag', 'Area Code (FAO)', 'Indicator Code', \
                                      'Sex Code', 'Sex', 'Year Code', 'Source', 'Indicator',\
                                'Source Code', 'Note', 'Flag Description', 'Unit'], axis=1)
employee_df = employee_df.rename(columns={'Value':'Mean Hours Worked/employee'})
employee_df

             Area  Year  Mean Hours Worked/employee
0     Afghanistan  2014                       37.84
1     Afghanistan  2017                       48.08
2     Afghanistan  2020                       56.30
3         Albania  2007                       49.78
4         Albania  2008                       49.01
...           ...   ...                         ...
2154       Zambia  2017                       40.65
2155       Zambia  2018                       42.72
2156       Zambia  2019                       43.59
2157     Zimbabwe  2014                       42.23
2158     Zimbabwe  2019                       42.10

[2159 rows x 3 columns]

In [15]:
# filter table to include only Maize, this could be any crop of our choosing
yield_df = yield_df.loc[yield_df['Item']== 'Maize']
yield_df

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value
0,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1961,1961,hg/ha,14000
1,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1962,1962,hg/ha,14000
2,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1963,1963,hg/ha,14260
3,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1964,1964,hg/ha,14257
4,QC,Crops,2,Afghanistan,5419,Yield,56,Maize,1965,1965,hg/ha,14400
...,...,...,...,...,...,...,...,...,...,...,...,...
56376,QC,Crops,181,Zimbabwe,5419,Yield,56,Maize,2012,2012,hg/ha,7912
56377,QC,Crops,181,Zimbabwe,5419,Yield,56,Maize,2013,2013,hg/ha,7449
56378,QC,Crops,181,Zimbabwe,5419,Yield,56,Maize,2014,2014,hg/ha,9301
56379,QC,Crops,181,Zimbabwe,5419,Yield,56,Maize,2015,2015,hg/ha,5803
56380,QC,Crops,181,Zimbabwe,5419,Yield,56,Maize,2016,2016,hg/ha,6275

In [16]:
#drop unecessary columns
yield_df = yield_df.drop(['Domain Code', 'Domain', 'Area Code', 'Element Code', 'Item Code', 'Unit', 'Element', \
                          'Year Code'], axis=1)
yield_df

              Area   Item  Year  Value
0      Afghanistan  Maize  1961  14000
1      Afghanistan  Maize  1962  14000
2      Afghanistan  Maize  1963  14260
3      Afghanistan  Maize  1964  14257
4      Afghanistan  Maize  1965  14400
...            ...    ...   ...    ...
56376     Zimbabwe  Maize  2012   7912
56377     Zimbabwe  Maize  2013   7449
56378     Zimbabwe  Maize  2014   9301
56379     Zimbabwe  Maize  2015   5803
56380     Zimbabwe  Maize  2016   6275

[8631 rows x 4 columns]

In [17]:
# rename value column. yield will be our target variable
yield_df = yield_df.rename(columns={'Value': 'Yield (hg/ha)'})
yield_df

              Area   Item  Year  Yield (hg/ha)
0      Afghanistan  Maize  1961          14000
1      Afghanistan  Maize  1962          14000
2      Afghanistan  Maize  1963          14260
3      Afghanistan  Maize  1964          14257
4      Afghanistan  Maize  1965          14400
...            ...    ...   ...            ...
56376     Zimbabwe  Maize  2012           7912
56377     Zimbabwe  Maize  2013           7449
56378     Zimbabwe  Maize  2014           9301
56379     Zimbabwe  Maize  2015           5803
56380     Zimbabwe  Maize  2016           6275

[8631 rows x 4 columns]

## Connect to SQL Database

In [ ]:
# load tables into a SQL database. we will need to join at least some of the 
# tables in SQL to satisfy the project requirements
# create database in postgres 
# store db password in .gitignore (do we want to use a config.py or .env?)
# from config import db_password
# "postgresql://[user]:[password]@[location]:[port]/[database]"

In [ ]:
# connection string for local server
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/[name of database]"

In [ ]:
# create engine
engine = create_engine(db_string)

In [ ]:
# IS THERE DATA LARGE ENOUGH to REQUIRE CHUNKS??
#if not continue below
#import data to SQL tables using to_sql()
yield_df.to_sql(name='yield', con=engine)
fertilizers_df.to_sql(name='fertilizers', con=engine)
employee_df.to_sql(name='employee', con=engine)
temp_df.to_sql(name='temperature', con=engine)
pesticide_df.to_sql(name='pesticides', con=engine)