In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Parking_Violations_Issued_-_Fiscal_Year_2017.csv", nrows=5000000) #10803028 rows
df.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,5092469481,GZH7067,NY,PAS,07/10/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
1,5092451658,GZH7067,NY,PAS,07/08/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
2,4006265037,FZX9232,NY,PAS,08/23/2016,5,SUBN,FORD,V,0,...,BK,NaN,2004,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN
3,8478629828,66623ME,NY,COM,06/14/2017,47,REFG,MITSU,T,10610,...,WH,NaN,2007,NaN,0,04,47-Double PKG-Midtown,NaN,NaN,NaN
4,7868300310,37033JV,NY,COM,11/21/2016,69,DELV,INTER,T,10510,...,WHITE,NaN,2007,NaN,0,31 6,69-Failure to Disp Muni Recpt,NaN,NaN,NaN

In [3]:
df.describe()

,Summons Number,Violation Code,Street Code1,Street Code2,Street Code3,Vehicle Expiration Date,Violation Location,Violation Precinct,Issuer Precinct,Issuer Code,Date First Observed,Law Section,Unregistered Vehicle?,Vehicle Year,Feet From Curb,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
count,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,4.074901e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,5.000000e+06,505056.0,5.000000e+06,5.000000e+06,0.0,0.0,0.0
mean,6.865847e+09,3.474796e+01,2.404350e+04,2.042234e+04,2.046745e+04,2.471981e+07,5.569408e+01,4.538957e+01,4.710294e+01,3.375024e+05,4.530422e+05,5.462732e+02,0.0,1.574998e+03,1.217526e-01,NaN,NaN,NaN
std,2.297915e+09,1.933175e+01,2.263334e+04,2.193700e+04,2.200949e+04,2.610658e+07,3.796317e+01,4.052491e+01,6.204933e+01,2.212482e+05,2.988353e+06,2.913682e+02,0.0,8.277014e+02,8.353894e-01,NaN,NaN,NaN
min,1.002888e+09,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.080000e+02,0.0,0.000000e+00,0.000000e+00,NaN,NaN,NaN
25%,5.093291e+09,2.000000e+01,5.780000e+03,0.000000e+00,0.000000e+00,2.016090e+07,1.900000e+01,9.000000e+00,5.000000e+00,3.454510e+05,0.000000e+00,4.080000e+02,0.0,1.999000e+03,0.000000e+00,NaN,NaN,NaN
50%,8.132566e+09,3.600000e+01,1.817000e+04,1.401000e+04,1.408000e+04,2.017091e+07,5.000000e+01,3.400000e+01,2.800000e+01,3.581870e+05,0.000000e+00,4.080000e+02,0.0,2.008000e+03,0.000000e+00,NaN,NaN,NaN
75%,8.487170e+09,4.000000e+01,3.553000e+04,3.398000e+04,3.409000e+04,2.018073e+07,9.000000e+01,7.800000e+01,7.800000e+01,3.631370e+05,0.000000e+00,4.080000e+02,0.0,2.014000e+03,0.000000e+00,NaN,NaN,NaN
max,8.585600e+09,9.900000e+01,9.802000e+04,9.831000e+04,9.828000e+04,8.888889e+07,9.180000e+02,9.180000e+02,9.970000e+02,9.999920e+05,2.021091e+07,6.408000e+03,0.0,2.069000e+03,1.600000e+01,NaN,NaN,NaN

In [4]:
df.dtypes

Summons Number                         int64
Plate ID                              object
Registration State                    object
Plate Type                            object
Issue Date                            object
Violation Code                         int64
Vehicle Body Type                     object
Vehicle Make                          object
Issuing Agency                        object
Street Code1                           int64
Street Code2                           int64
Street Code3                           int64
Vehicle Expiration Date                int64
Violation Location                   float64
Violation Precinct                     int64
Issuer Precinct                        int64
Issuer Code                            int64
Issuer Command                        object
Issuer Squad                          object
Violation Time                        object
Time First Observed                   object
Violation County                      object
Violation In Front Of Or Opposite     object
House Number                          object
Street Name                           object
Intersecting Street                   object
Date First Observed                    int64
Law Section                            int64
Sub Division                          object
Violation Legal Code                  object
Days Parking In Effect                object
From Hours In Effect                  object
To Hours In Effect                    object
Vehicle Color                         object
Unregistered Vehicle?                float64
Vehicle Year                           int64
Meter Number                          object
Feet From Curb                         int64
Violation Post Code                   object
Violation Description                 object
No Standing or Stopping Violation    float64
Hydrant Violation                    float64
Double Parking Violation             float64
dtype: object

In [18]:
df.isna().sum()

Summons Number                             0
Plate ID                                 340
Registration State                         0
Plate Type                                 0
Issue Date                                 0
Violation Code                             0
Vehicle Body Type                      19250
Vehicle Make                           33030
Issuing Agency                             0
Street Code1                               0
Street Code2                               0
Street Code3                               0
Vehicle Expiration Date                    0
Violation Location                    925099
Violation Precinct                         0
Issuer Precinct                            0
Issuer Code                                0
Issuer Command                        920771
Issuer Squad                          921216
Violation Time                            22
Time First Observed                  4608134
Violation County                       17497
Violation In Front Of Or Opposite     965121
House Number                         1024509
Street Name                             1763
Intersecting Street                  3467128
Date First Observed                        0
Law Section                                0
Sub Division                             347
Violation Legal Code                 4079209
Days Parking In Effect               1223985
From Hours In Effect                 2515376
To Hours In Effect                   2515376
Vehicle Color                          67875
Unregistered Vehicle?                4494944
Vehicle Year                               0
Meter Number                         4186950
Feet From Curb                             0
Violation Post Code                  1425807
Violation Description                 505005
No Standing or Stopping Violation    5000000
Hydrant Violation                    5000000
Double Parking Violation             5000000
dtype: int64

In [21]:
null_cols = ((df.isna().sum()/len(df))*100) > 40
df.drop(null_cols[null_cols.values == True].index.tolist(),axis=1,inplace=True)
df.head(10)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Street Name,Date First Observed,Law Section,Sub Division,Days Parking In Effect,Vehicle Color,Vehicle Year,Feet From Curb,Violation Post Code,Violation Description
0,5092469481,GZH7067,NY,PAS,07/10/2016,7,SUBN,TOYOT,V,0,...,ALLERTON AVE (W/B) @,0,1111,D,NaN,GY,2001,0,NaN,FAILURE TO STOP AT RED LIGHT
1,5092451658,GZH7067,NY,PAS,07/08/2016,7,SUBN,TOYOT,V,0,...,ALLERTON AVE (W/B) @,0,1111,D,NaN,GY,2001,0,NaN,FAILURE TO STOP AT RED LIGHT
2,4006265037,FZX9232,NY,PAS,08/23/2016,5,SUBN,FORD,V,0,...,SB WEBSTER AVE @ E 1,0,1111,C,NaN,BK,2004,0,NaN,BUS LANE VIOLATION
3,8478629828,66623ME,NY,COM,06/14/2017,47,REFG,MITSU,T,10610,...,7th Ave,0,408,l2,Y,WH,2007,0,04,47-Double PKG-Midtown
4,7868300310,37033JV,NY,COM,11/21/2016,69,DELV,INTER,T,10510,...,6th Ave,0,408,h1,Y,WHITE,2007,0,31 6,69-Failure to Disp Muni Recpt
5,5096917368,FZD8593,NY,PAS,06/13/2017,7,SUBN,ME/BE,V,0,...,NORTHERN BLVD (E/B),0,1111,D,NaN,WH,2012,0,NaN,FAILURE TO STOP AT RED LIGHT
6,1413609545,X20DCM,NJ,PAS,08/03/2016,40,SDN,TOYOT,P,54070,...,KINGSTON,0,408,C3,BBBBBBB,WHITE,0,1,NaN,NaN
7,4628525523,326SF9,MA,PAS,12/21/2016,36,UT,BMW,V,0,...,EB E GUN HILL RD @ B,0,1180,B,NaN,NaN,2001,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION
8,4627113330,HCA5464,NY,OMS,11/21/2016,36,SUBN,DODGE,V,0,...,NB BAISLEY BLVD @ 15,0,1180,B,NaN,BK,2016,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION
9,4006478550,VAD7274,VA,PAS,10/05/2016,5,4D,BMW,V,0,...,SB WEBSTER AVE @ E 2,0,1111,C,NaN,BLK,2008,0,NaN,BUS LANE VIOLATION

In [24]:
df.columns.to_list()

['Summons Number',
 'Plate ID',
 'Registration State',
 'Plate Type',
 'Issue Date',
 'Violation Code',
 'Vehicle Body Type',
 'Vehicle Make',
 'Issuing Agency',
 'Street Code1',
 'Street Code2',
 'Street Code3',
 'Vehicle Expiration Date',
 'Violation Location',
 'Violation Precinct',
 'Issuer Precinct',
 'Issuer Code',
 'Issuer Command',
 'Issuer Squad',
 'Violation Time',
 'Violation County',
 'Violation In Front Of Or Opposite',
 'House Number',
 'Street Name',
 'Date First Observed',
 'Law Section',
 'Sub Division',
 'Days Parking In Effect    ',
 'Vehicle Color',
 'Vehicle Year',
 'Feet From Curb',
 'Violation Post Code',
 'Violation Description']

In [14]:
diff = df["Violation Location"] - df["Violation Precinct"]
diff.unique()
# Proof that Violation Location and Violation Precinct are identical

array([nan,  0.])

In [31]:
unwanted_cols = ["Violation Location", "Issuer Precinct", "Issuer Code", "Issuer Command", "Issuer Squad", \
                "Violation In Front Of Or Opposite", "Date First Observed", "Sub Division", "Days Parking In Effect    ", \
                "Feet From Curb", "Violation Post Code"]
df.drop(columns = unwanted_cols, inplace = True)
df.head(20)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Expiration Date,Violation Precinct,Violation Time,Violation County,House Number,Street Name,Law Section,Vehicle Color,Vehicle Year,Violation Description
0,5092469481,GZH7067,NY,PAS,07/10/2016,7,SUBN,TOYOT,V,0,...,0,0,0143A,BX,NaN,ALLERTON AVE (W/B) @,1111,GY,2001,FAILURE TO STOP AT RED LIGHT
1,5092451658,GZH7067,NY,PAS,07/08/2016,7,SUBN,TOYOT,V,0,...,0,0,0400P,BX,NaN,ALLERTON AVE (W/B) @,1111,GY,2001,FAILURE TO STOP AT RED LIGHT
2,4006265037,FZX9232,NY,PAS,08/23/2016,5,SUBN,FORD,V,0,...,0,0,0233P,BX,NaN,SB WEBSTER AVE @ E 1,1111,BK,2004,BUS LANE VIOLATION
3,8478629828,66623ME,NY,COM,06/14/2017,47,REFG,MITSU,T,10610,...,20180630,14,1120A,NY,330,7th Ave,408,WH,2007,47-Double PKG-Midtown
4,7868300310,37033JV,NY,COM,11/21/2016,69,DELV,INTER,T,10510,...,20170228,13,0555P,NY,799,6th Ave,408,WHITE,2007,69-Failure to Disp Muni Recpt
5,5096917368,FZD8593,NY,PAS,06/13/2017,7,SUBN,ME/BE,V,0,...,0,0,0852P,QN,NaN,NORTHERN BLVD (E/B),1111,WH,2012,FAILURE TO STOP AT RED LIGHT
6,1413609545,X20DCM,NJ,PAS,08/03/2016,40,SDN,TOYOT,P,54070,...,0,71,0215A,K,439,KINGSTON,408,WHITE,0,NaN
7,4628525523,326SF9,MA,PAS,12/21/2016,36,UT,BMW,V,0,...,0,0,0758A,BX,NaN,EB E GUN HILL RD @ B,1180,NaN,2001,PHTO SCHOOL ZN SPEED VIOLATION
8,4627113330,HCA5464,NY,OMS,11/21/2016,36,SUBN,DODGE,V,0,...,0,0,1005A,QN,NaN,NB BAISLEY BLVD @ 15,1180,BK,2016,PHTO SCHOOL ZN SPEED VIOLATION
9,4006478550,VAD7274,VA,PAS,10/05/2016,5,4D,BMW,V,0,...,0,0,0845A,BX,NaN,SB WEBSTER AVE @ E 2,1111,BLK,2008,BUS LANE VIOLATION
10,1407740258,2513JMG,NY,COM,01/11/2017,78,DELV,FRUEH,P,0,...,20161130,106,0015A,Q,126,ST 115 AVE,408,WHITE,2015,NaN
11,8009901763,13657MD,NY,COM,09/27/2016,19,DELV,KENWO,T,10510,...,20170331,18,0707A,NY,1365,6th Ave,408,RD,2013,19-No Stand (bus stop)
12,4625926610,N102911C,NY,OMT,10/27/2016,36,VAN,FORD,V,0,...,0,0,1022A,QN,NaN,EB HORACE HARDING EX,1180,WH,2008,PHTO SCHOOL ZN SPEED VIOLATION
13,1416492320,FGR5997,NY,PAS,09/30/2016,21,SDN,NISSA,P,53620,...,20170303,44,1150A,BX,1224,NELSON AVE,408,TAN,0,NaN
14,1413656420,T672371C,NY,PAS,02/04/2017,40,TAXI,TOYOT,P,59630,...,20170531,73,0525A,K,279,MCDOUGAL ST,408,BLK,2015,NaN
15,7959486440,GYF2052,NY,PAS,07/07/2016,71,4DSD,VOLKS,T,70407,...,20170527,120,0645P,R,143,N St Austins Pl,408,GY,2012,71-Insp. Sticker Missing (NYS
16,5093620865,AD80228,AZ,PAS,09/24/2016,7,TK,FORD,V,0,...,0,0,1122A,QN,NaN,SO CONDUIT AVE (E/B),1111,NaN,2009,FAILURE TO STOP AT RED LIGHT
17,8480309064,51771JW,NY,COM,01/26/2017,64,VAN,INTER,T,17850,...,88888888,17,0256P,NY,204,E 43rd St,408,BROWN,2007,"64-No STD Ex Con/DPL, D/S Dec"
18,1416638830,GLP367,NY,PAS,04/30/2017,20,SUBN,DODGE,P,17650,...,20180304,17,1232A,NY,330,E 33 ST,408,BLK,2009,NaN
19,4630524241,HJBP29,FL,PAS,02/03/2017,36,4D,BMW,V,0,...,0,0,1034A,BK,NaN,WB LINDEN BLVD @ SCH,1180,SIL,2009,PHTO SCHOOL ZN SPEED VIOLATION

In [27]:
df["Law Section"].value_counts()

408     4079228
1180     638519
1111     282251
6408          1
1040          1
Name: Law Section, dtype: int64

In [32]:
df.isna().sum()

Summons Number                   0
Plate ID                       340
Registration State               0
Plate Type                       0
Issue Date                       0
Violation Code                   0
Vehicle Body Type            19250
Vehicle Make                 33030
Issuing Agency                   0
Street Code1                     0
Street Code2                     0
Street Code3                     0
Vehicle Expiration Date          0
Violation Precinct               0
Violation Time                  22
Violation County             17497
House Number               1024509
Street Name                   1763
Law Section                      0
Vehicle Color                67875
Vehicle Year                     0
Violation Description       505005
dtype: int64

In [67]:
colors = df["Vehicle Color"]
"WH" in colors.unique()

True

In [70]:
color_list = colors.to_list()
for i in range(len(color_list)):
    if color_list[i] == "WH":
        color_list[i] = "WHITE"
pd.DataFrame(color_list)

             0
0           GY
1           GY
2           BK
3        WHITE
4        WHITE
...        ...
4999995  WHITE
4999996  WHITE
4999997   GREY
4999998     BR
4999999  SILVE

[5000000 rows x 1 columns]